.signup {
    /* background-color: aqua; */
 width: 400px;
 margin: 20px 20px 20px 20px;  
 padding: 20px; 
}

.ff {
    display: flex;
    flex-direction: column;
}

.inp {
    flex: 1;
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding: 5px;
    border-radius: 2px;
}

.form-group input {
margin-bottom: 5px;
}
.proceedbutton {
    margin-top: 30%;
}

.proceedbutton :hover {
    text-decoration: none;
}